<table class="table homepage">
<?php 
	foreach( $followers as $follower )
	{
		$user = $follower['User'];
		echo '<tr>';	
		echo '<td><strong><a href="'.$baseUrl.'users/view/'.$user['id'].'">'.$user['stage_name'].'</a><strong></td>';	
		echo '<td>'.$user['about'].'</td>';
		// Split apart genre list
		echo '<td>';
		echo '<td><strong><small>'.date($dateFormat, strtotime($user['created'])).'</small></strong></td>';
		echo '</tr>';
	}
?>
</table>