<div ng-if="comments.length == 0">
	<span class="text-danger">
		No comments
	</span>
</div>
<br/>

<div class="">
    <div class="media-object pull-left">
    	<img ng-src="http://blurtonline.com/wp-content/uploads/2013/07/Vinyl-LP.jpg" />
    </div>
    <div class="media-body">
    	<form ng-submit="">
			<input class="form-control" ng-model="content" placeholder="Comments..." ></input>
			<input type="hidden" ng-model="modelType" value="song" />
		</form>
    </div>
</div>


<br/><br/>
<div  ng-if="comments != null">
	<div class="media" ng-repeat="comment in comments">
	    <div class="media-object pull-left">
	    	<img ng-src="{{ comment.User.image_url }}" />
	    </div>
	    <div>
	    	<a href="/users/profile/{{ comment.User.id }}">
	    		{{ comment.User.stage_name }}
	    	</a>
			{{ comment.Comment.content }}
	    </div>
	    <div class="small text-muted">
			{{ helpers.toJsDate( comment.Comment.created ) | date: "MMM d, y h:mm a" }}
	    </div>
	</div>
</div>