
<div class=>
	<div class="col-xs-8">
		<ul class="media-list" ng-controller="dashboardController">
			<li ng-repeat="activityList in rollUp track by $index" class="media">
				<div class="row">
					<div class="col-xs-3">
						<a ng-href="/songs/view/{{ activityList[0].Song.id }}">
							<img class="media-object" ng-src="{{ activityList[0].Song.image_url || '/img/default_profile_icon.gif' }}" />
						</a>
					</div>
					<div class="col-xs-9">
						<!-- Activity Header -->
						<div>
							<a class="media-heading" ng-href="/songs/view/{{ activityList[0].Song.id }}" class="padding-right">
								<b>{{ activityList[0].Song.title }}</b>
							</a>
							<small class="text-muted">
								{{ helpers.toJsDate( activityList[0].Song.created) | date: "MMM d, y h:mm a" }}
							</small>
							<ul>
								<li class="genre-item" ng-repeat="genre in activityList[0].Song.genre.split(',')">
									<a class="genre" href="/explore/{{ genre }}">{{ genre }}</a>
								</li>
							</ul>
							<div class="pull-right">
								<div class="text-muted">
									<div class="pull-right">
										<a title="Share this post" class="repost">
											<span class="imoon imoon-share"></span>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div ng-show="activityList[0].Song.description != null">
							<p class="media-body">
								{{ activityList[0].Song.description }}
							</p>
						</div>
						<ul>
							<li class="activity-item" ng-repeat="roll in activityList track by $index">
								<img ng-src="{{ roll.User.image_url }}" />
								<a class="activity-item-user" ng-href="/users/profile/{{roll.User.id}}">
									{{ roll.User.stage_name }}
								</a>
								<span ng-bind-html="roll.Activity.action | unsafe"></span>
								<small class="text-muted">
									{{ helpers.toJsDate(roll.Activity.created) | date: "MMM d, y h:mm a" }}
								</small>
							</li>
						</ul>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="col-xs-4">
		<div ng-include="'/views/userSongs.html'"></div>
	</div>
</div>