<div class="col-xs-8">
<ul class="media-list" ng-controller="genresController">
	<li class="media" ng-repeat="song in songs">
		<div class="row">
			<div class="col-xs-4 col-sm-3">
				<a ng-href="/songs/view/{{song.Song.id}}">
					<img class="media-object" ng-src="{{ song.Song.image_url || 'http://blurtonline.com/wp-content/uploads/2013/07/Vinyl-LP.jpg' }}" />
				</a>
			</div>
			<div class="col-sm-9 col-xs-8">
				<!-- Activity Header -->
				<div>
					<div class="song-info pull-right">
						<i class="imoon imoon-heart2"/>
						{{ song.Song.song_like_count }}
					</div>
					<a class="media-heading" ng-href="/songs/view/{{ song.Song.id}}" class="padding-right">
						<strong>{{ song.Song.title }}</strong>
					</a>
					by
					<a ng-href="/users/profile/{{ song.User.id }}" class="text-muted">
						{{ song.User.stage_name }}
					</a>
				</div>
				<div ng-show="song.Song.description != null">
					<br/>
					<p class="media-body">
						{{ song.Song.description }}
					</p>
				</div>
				<ul>
					<li class="genre-item" ng-repeat="genre in song.Song.genre.split(',')">
						<a class="genre" ng-href="/explore/{{ genre }}">{{ genre }}</a>
					</li>
				</ul>
			</div>
		</div>
	</li>
</ul>
</div>