
<div class="login" ng-controller="loginController">
	<form ng-submit="login(username,password)">
		<input class="form-control" placeholder="Username" type="text" ng-model="username" />
		<input class="form-control" placeholder="Password" type="password" ng-model="password" />
		<button class="btn" value="Login" ng-click="">Login</button> 
		<p>
			Don't have an account yet?
			<a ng-href="/users/register">Sign up</a>
		</p>
	</form>
</div>
