<!-- View a song and all of it's tracks, track requests, and comments -->
<div class="col-xs-12" ng-controller="songController">
	<div>
		<div class="col-sm-5 col-md-4">
			<img ng-src="{{ song.image_url || 'http://blurtonline.com/wp-content/uploads/2013/07/Vinyl-LP.jpg' }}" />
		</div>
		<div class="col-sm-7 col-md-8">
			<h1>{{ song.title }}
				<small>by {{ creator.stage_name }}</small>
			</h1>
			<ul>
				<li class="genre-item" ng-repeat="genre in song.genre.split(',')">
					<a class="genre" href="/explore/{{ genre }}">{{ genre }}</a>
				</li>
			</ul>
			<p>
				{{ song.description }}
			</p>
			<div class="song-actions">
				<div ng-show="userId != song.creator">
					<a class="text-blue2" id="master-song" class="text-blue2"> Master </a> / <a href="/tracks/add/{{ song.id }}"> Add a track </a>
				</div>
				<div ng-show="userId == song.Song.creator">
					<a class="text-blue2" href="/trackRequests/add/{{ song.id }}"> Make a request </a> / <a id="like"> <span id="like-text">Like</span> </a>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div>
		<br/>
		<!-- Song controls -->
		<div class="controls col-xs-12">
			<span class="btn btn-default">
				<span class="imoon imoon-previous" onclick="javascript:tracksController.resetTracks()"></span>
			</span>
			<span class="btn btn-default">
				<span class="imoon imoon-play" onclick="javascript:tracksController.playTracks()" ></span>
			</span>
			<span class="btn btn-default">
				<span class="imoon imoon-pause" onclick="javascript:tracksController.pauseTracks()"></span>
			</span>
			<br/><br/>
			<div class="progress progress-striped">
			  <div class="progress-bar progress-bar-warning" id="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
		</div>
		
		<div class="col-xs-6">
			<h2>Tracks</h2>
			<div ng-if="tracks.length == 0">
				<span class="text-danger">No tracks.</span>
			</div>
			<div ng-if="tracks.length != 0" ng-include="'/views/trackList.html'"></div>
		</div>
		<div class="col-xs-6">
			<h2>Track Requests</h2>
			<div ng-if="trackRequests.length == 0">
				<span class="text-danger">No track requests.</span>
			</div>
			<div ng-if="trackRequests.length != 0" ng-include="'/views/trackRequestList.html'"></div>
		</div>
	</div>
	<div class="clearfix"></div>
	<hr>
	<div>
		<h2 class="text-center">Comments</h2>
		<div class="comments">
			<div ng-include="'/views/comments.html'"></div>
		</div>
	</div>
</div>

