<!-- app/View/Songs/add.ctp -->	
<div ng-controller="songCreateFormController">
	<div class="col-lg-4 col-sm-5">
		<div>
			<div class="image-upload-preview">
				<img src="http://blurtonline.com/wp-content/uploads/2013/07/Vinyl-LP.jpg" width="100%" id="song-image-preview">
			</div>
			<br/>
			<form id="songCreateForm" ng-submit="createSong(title,description,genre,image)">
				<input ng-model="image" type="file" enctype="multipart/form-data" onchange="readURL('song-image-preview',this)" />
				<input placeholder="Title" class="form-control" ng-model="title" type="text" />
				<textarea placeholder="Description" class="form-control"  ng-model="description" />
				
				<div class="checkbox">
				  <label>
				    <input type="checkbox" value="pop">Pop
				  </label>
				</div>
				<div class="checkbox">
				  <label>
				   		<input type="checkbox" value="rock" />Rock
				  </label>
				</div>
				<div class="checkbox">
				  <label>
				    	<input type="checkbox" value="jazz" />Jazz
				  </label>
				</div>
				<div class="checkbox">
				  <label>
				    	<input type="checkbox" value="metal" />Metal
				  </label>
				</div>
				<div class="checkbox">
				  <label>
				    	<input type="checkbox" value="blue" />Blues
				  </label>
				</div>
				<div class="checkbox">
				  <label>
				  		<input type="checkbox" value="acapella" />Acapella
				  </label>
				</div>
				<div class="checkbox">
				  <label>
				    	<input type="checkbox" value="other" />Other
				  </label>
				</div>
				<br/>
				<button class="btn btn-default" ng-click="">Submit</button>
			</form>
		</div>
	</div>
	<div class="col-sm-7 col-lg-8">
		<div>
			<h3>
				Creating a song?<br/>
				<small>Here's what you need to know:</small>	
			</h3>
			<ul class="info-list">
				<li>
					<p>
						Every song is open to the public.  <strong>ANYBODY</strong> can listen to it!
					</p>
				</li>
				<li>
					<p>
						Every song is open for any user to submit a track request.  As the creator of the song
						you are free to accept or reject that track request.  If you accept, the track will be added 
						to the list of tracks for that song and can be removed at any time.
					</p>
				</li>
				<li>
					<p>
						Once your song is complete, go ahead and <em>master</em> it.  This process involves combining all of the 
						tracks into a single <strong>mp3</strong> file that can be shared and downloaded based on your settings!
					</p>
				</li>
				<li>
					<p>
						A track does not have to be associated with a song in order to be created.
						Tracks can be moved to and from any song, at any time.
					</p>
				</li>
			</ul>
	</div>
	</div>
</div>

</div>
<script>
	$("#SongImageUrl").change(function() {
			if(readURL("song-image-preview",this))
				$('.image-placeholder').hide();
       });
</script>