<ul>
	<li class="track-row" ng-repeat="track in trackRequests">
		<div class="row">
			<div class="col-xs-2" id="profile-avatar">
				<a ng-href="/users/profile/{{user.User.id}}"> 
					<img ng-src="{{ track.User.image_url || '/img/default_profile_icon.gif' }}" /> 
				</a>
			</div>
			<div class="col-xs-10">
				<div class="pull-right">
					<a ng-show="userId == creator.id" href="/tracks/discard/<?php echo $track['id'] ?>" alt="Delete this track" class="deleteTrack hide"> <span class="padding-sm imoon imoon-close"></span> </a>
				</div>
				<a ng-href="/view/{{ track.id }}"> <strong> {{ track.title }} <span class="pull-right"> <a href="{{ track.url }}" title="Download"> <span class="glyphicons glyphicons-download"></span> </a> </span></strong> </a>
				<div>
					<ul class="social-info">
						<li class="padding-right">
							<i class="imoon imoon-heart"></i>&nbsp;&nbsp;{{ track.track_like_count }}
						</li>
						<li>
							<span class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp;{{ track.track_comment_count }}
						</li>
					</ul>
				</div>
				<p>
					{{ track.description }}
				</p>
			</div>
		</div>
	</li>
</ul>
