<ul class="media-list">
	<li class="media" ng-repeat="song in songs">
		<div class="row">
			<div class="col-xs-4 col-sm-3">
				<a ng-href="/songs/view/{{song.Song.id}}">
					<img class="media-object" ng-src="{{ song.Song.image_url || 'http://blurtonline.com/wp-content/uploads/2013/07/Vinyl-LP.jpg' }}" />
				</a>
			</div>
			<div class="col-sm-9 col-xs-8">
				<div>
					<a class="media-heading" ng-href="/songs/view/{{ song.Song.id}}" class="padding-right">
						{{ song.Song.title }}
					</a>
				</div>
			</div>
		</div>
	</li>
</ul>