<ul id="users" class="media-list" ng-controller="usersController">
	<li class="media" ng-repeat="user in users">
		<div class="row">
			<div class="col-xs-12 col-sm-3">
				<a ng-href="/users/profile/{{user.User.id}}">
					<img class="media-object" ng-src="{{ user.User.image_url || '/img/default_profile_icon.gif' }}" />
				</a>
			</div>
			<div class="col-xs-12 col-sm-9">
				<div>
					<div class="pull-right">
						<small class="panel-info text-muted">
							{{ user.User.follower_count }} followers
							{{ user.User.following_count }} following
						</small>
					</div>
					<a ng-href="/users/profile/{{user.User.id}}" class="media-heading">
						<strong>{{ user.User.stage_name }}</strong>
					</a>
					<span class="text-muted" ng-show="user.User.city != null">
						<span class="imoon imoon-location"></span>
						{{ user.User.city }}, {{ user.User.state }}
					</span>
				</div>
				<div ng-show="user.User.about != null">
					<br/>
					<p class="media-body">
						{{ user.User.about }}
					</p>
				</div>
				<div class="text-muted">
					<span ng-click="follow('{{ user.User.id }}')">
						<i class="fa fa-plus-circle"></i>
					</span>
					<span>
						<i class="fa fa-envelope-o" ng-click="message(user)"></i>
					</span>
				</div>
			</div>
		</div>
	</li>
</ul>
