
body {
	background-color:inherit;
    width: 100%;
    color: #0f2105;
	font:18px/1.5 "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;	
}

ul {
	padding-left:0px;
	list-style:none;
}
	
#main {
    width: 100%;
    position: relative;
    margin:0px auto;
}
#content {
    display: block;
    margin:0px auto;
	position: relative;
}

#songCreateForm .form-control {
	margin:10px 0px;
}

#songCreateForm .checkbox {
	display:inline-block;
	margin:5px;
}

a {
	/*color:inherit;*/
}

.main-content {
	padding-top:75px;
	max-width:1000px;
	margin:0px auto;
	height:100%;
}

header {
	background-color:#fff;
	border-bottom:solid 1px lightgrey !important;
}

header i, header span {
	font-size: 1.25em;
}

header > div {
	padding:10px;
}

.header-btns {
	border-left:solid 1px lightgrey;
}

.navbar {
    z-index: 1030;
    margin-bottom: 0;
    min-height: 0px;
}

.navbar-brand {
	padding:0px;
}

.navbar-brand .navbar-logo {
    max-width: 120px;
}

.search-form {
	padding-left:15px;
	display:inline-block;
}

img {
	width:100%;
}

i {
	cursor:pointer;
}

a {}

::-webkit-scrollbar {
    width: 0px;
}
 
/*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}*/

.media {
	margin-bottom:12px;
	padding-bottom:12px;
	border-bottom:solid 1px #EEEEEE;
}

.alert {
	padding-top:10px;
}

.btn {
	border-radius:0px;
}

.up-arrow {
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #fff;
	position:absolute;
	left:20px;
	bottom:0px;
	z-index:100;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a:hover {
	text-decoration:none;
	cursor:pointer;
}

.border-right {
	border-right: 1px solid #F2F2F2 !important;
}

.border-left {
	border-left: 1px solid #F2F2F2 !important;
}

#conversation {
	overflow-y:auto;
	max-height:500px;
	overflow-x:hidden;
}

.activity-action {
	padding-bottom: 10px;
	padding-top:15px;
	border-top:solid 1px #F2F2F2;
}

.logo > img {
	width:100px;
}


.genre {
	margin:0px 4px 10px 0px;
	padding:0px 3px;
	border-radius:0px;
	background-color:#F75D59;
	color:#FFFFFF !important;
	display:inline-block;
	font-size:12px;
	font-weight:600;
	transition:all 1s ease;
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
}

.genre:hover {
	background-color:#E55451;
	cursor:pointer;
}

.genre-item {
	display:inline-block;
}

.audio-icons > i {
	font-size:25px !important;
}

.controls .btn {
	border-radius:360px;
	padding:3px 6px;
	margin:0px 2px;
}

.login {
	max-width:400px;
	margin:20px auto;
	text-align:center;
}
.login input, .login a {
	margin:15px 0px;
}

.instructions div {
	background-color:rgba(255,255,255,.7);
	color:#000000;
}

.instructions {
	padding: 20px;
}

.instructions > div {
	padding:30px;
	float:none;
	width:49.5%;
	display:inline-block;
	vertical-align: middle;
}

.instructions p {
	font-size:15px;
	padding-bottom:20px;
}

.instructions h1 {
	font-size:75px;
	padding-bottom:20px;
}

.instructions i {
	font-size:50px;
}

.homepage {
	background-image:url("http://4.bp.blogspot.com/_ebxz5AZFUdQ/TUyeZEdxMZI/AAAAAAAABUo/3esAbeAcQlM/s1600/top-10-concert-photos-of-2009-20-800x533.jpg");
	background-size:cover;
	width:100%;
	color:#fff;
	min-height:500px;
	position:fixed;
	top:0px;
}

.homepage h1 {
	font-size:85px;
	margin-top:100px;
	line-height:80px;
}

.homepage .lead {
	padding:1px;
	background-color:rgba(92,204,204,.8);
	color:#fff;
}

#home-info {
	background-color:#fff;
	position:relative;
}
#home-info > .glyphicon-chevron-down {
	position:absolute;
	width:50px;
	height:30px;
	margin:0px auto;
	background-color:#fff;
	top:-30px;
	left:20px;
	font-size: 20px;
	text-align: center;
	padding: 7px;	
}

#scroll-up {
	position:fixed;
	top:50px;
	left:35px;
	font-size:20px;
	text-align:center;
	display:none;
	cursor:pointer;
}

.label {
	margin:0px;
	border-radius:0px;
}

.social {
	margin-top:20px;
}

.social-links {
	color:#888888 !important;
}

.social-info {
	margin:2px 0px;
	list-style: none;
	font-size:12px;
	color:#BBBBBB;
}

.social-info li {
	display:inline-block;
	padding-right:5px;
	margin:0px;
	font-weight:500;
}

.image-upload-preview i {
	font-size:150px;
	color:#46b8da;
}

.image-upload-preview h4 {
	padding-top:20px;
}

form.user-edit .input, 
#TrackAddForm .input,
#TrackRequestAddForm .input,
#TrackRequestViewForm .input,
#SongAddForm .input,
#UserAddForm .input {
	margin-bottom: 10px;
}

#ajax-loader, .ajax-loader {
	margin-top:-5px;
	height:17px !important;
	width:17px !important;
	display:none;
}

#loadMoreActivities {
	width:100%;
	display:block;
	text-align:center;
}

.affix-nav {
	width:160px;
	height:100%;
	background-color:#fff;
}

.affix {
	top:0px;
}

.menu {
	width:220px;
	padding:30px;
	float:left;
}

.likes-count {
	font-size:14px;
	font-weight:bold;
}

.likes-count i {
	font-size:12px;
	margin-right:-3px;
	font-weight:normal;
}

.activity-header,
.song-header {
	margin:0px -15px 7.5px -15px;
}

.activity-item {
	padding:5px;
	background-color:#F0F0F0;
	margin:5px 0px;
	display:table;
	font-size:12px;
}

.activity-item > img {
	width:25px;
	margin-right:5px;
}

.activity-item > small {
	margin-left:20px;
}

.activity-item > .activity-item-user {
	font-weight:500;
	color:#333;
}

.activities-list {
	margin:0px -10px;
}

.comments {
	padding:0px;
	margin:5px 0px;
}

.comments .media-object {
	max-width: 40px;
}

.track-row {
	margin:20px 0px;
}

.info-list {
	list-style:inherit;
	padding-left:20px;
}

.sort-header {
	padding:20px;
	text-align:center;
	margin: 0px 10px 10px 10px;
}

.user-info {
	margin-top:5px;
	list-style:none;
}

.user-info > li {
	display:inline-block;
	margin: 5px;
}

.user-info > li > small {
	font-size:9px;
	display:block;
}

.panel-form {
	max-width:900px;
	margin:0px auto;
}

.activities-list .panel,
.song-list .panel {
	margin:0px;
	padding:0px 15px 15px 15px;
}

.signin-links {
	margin-right:30px;
}

.signin-links a {
	padding:0px 10px;
}

.header-nav {
	padding:0px 20px;
	margin-bottom:0px;
	font-size:15px;
}

.header-nav li {
	display:inline-block;
	font-weight:bold;
	padding:5px;
}

.header-nav a {
	color:#888;
}

.search-bar {
	border:none;
	box-shadow:none;
	padding:0px;
}

.search-bar:focus {
	box-shadow:none;
}

.notification {
	position:fixed;
	top:50px;
	padding:5px 10px;
	background-color:#fff;
	border:solid 1px lightgrey;
	margin:0px auto;
}

.error {
	color:red;
}

#wavedisplay { 
	height:50px;
	width:100%;
}

#analyser {
	height:150px;
	width:100%;
}

#waveformIcon {
	height:130px;
	max-width:150px;
}

#addTrack {
	cursor:pointer;
}

#footer {
	position:relative;
	clear:both;
	width:100%;
	height:150px;
	margin-top:-150px;
	padding-top:20px;
	bottom:0px;
}

/* Bootstrap overrides */
.row {
	margin:0px -10px;
}


/* Tablet Styles */
@media( max-width: 768px )
{
	.main-content {
		margin-left:0px !important;
	}
}

@media( max-width: 448px )
{	
	.col-xs {
		margin-left:0px !important;
	}
	
	[class^="col-"] {
		padding:0px 3px;
	}
	
	.media {
		margin:10px 0px;
	}
}
