<div class="container padding-top">
	<div class="row">
		<div class="col-sm-6 col-md-5 col-lg-4 panel padding">
			<h3><?php echo $user['stage_name']; ?></h3>
			<?php echo $this->element('user_form',array('user'=>$user)); ?>
		</div>
	</div>
</div>